{% extends "./layout.html" %}


{% block description %}{{ page.description }}{% endblock %}

{% block head %}
  <!-- page.html block head  1 -->
  {{ super() }}

  <!-- page.html block head  2 -->
  {% if page.next and page.next.path %}
    <link rel="next" href="{{ page.next.path|resolveFile }}" />
  {% endif %}
  {% if page.previous and page.previous.path %}
    <link rel="prev" href="{{ page.previous.path|resolveFile }}" />
  {% endif %}
{% endblock %}

<!--
{% block javascript %}
    <script src="{{ "theme.js"|resolveAsset }}"></script>
    {% for resource in plugins.resources.js %}
        {% if resource.url %}
        <script src="{{ resource.url }}"></script>
        {% else %}
        <script src="{{ resource.path|resolveAsset }}"></script>
        {% endif %}
    {% endfor %}
{% endblock %}
-->

  <div class="node clear-block">
    <div class="content">
    {% block book_body %}

    {% endblock %}
    </div>

  </div>
