
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="https://www.ncbi.nlm.nih.gov/favicon.ico" />
    <script type="text/javascript" src="https://www.ncbi.nlm.nih.gov/core/jig/1.13.1/js/jig.min.js"></script>
    <link rel="stylesheet" href="https://static.pubmed.gov/portal/portal3rc.fcgi/3986154/css/3881636/3579733.css" />
    <link rel="stylesheet" href="https://static.pubmed.gov/portal/portal3rc.fcgi/3986154/css/3529739.css" media="print" />
    <link rel="stylesheet" href="https://static.pubmed.gov/portal/portal3rc.fcgi/4005242/css/3974050/3917732/3394943/251717/4005677/14534/45193/3897817/3317918/3286957/1778801/3925605/3925608/3398175.css" />
    <link rel="stylesheet" href="https://static.pubmed.gov/portal/portal3rc.fcgi/3411999/css/3357469/3578812/3475386/3394943/251717/3412004/1958648/14534/45193/3534283/3486415/2867781/3403180/3394958.css" />
    <link rel="stylesheet" href="https://static.pubmed.gov/portal/portal3rc.fcgi/3411999/css/3529741/3529739.css" media="print" />
  </head>


  <body>
    <div class="grid">
      <div class="col twelve_col nomargin shadow">

        <div class="wrap">
          <div class="page">
            <div class="universal_header" id="universal_header"
              ><ul class="inline_list jig-ncbimenu ui-ncbimenu resources_list" 
                id="navcontent">
                <li class="ui-ncbimenu-item-leaf ui-ncbimenu-item-first 
                            ui-helper-reset ui-ncbimenu-item-no-hlt"
                  ><a class="ui-ncbimenu-link-first" href="/" role="banner" 
                    title="NCBI Home" id="ncbihome" accesskey="1"
                    ><span class="offscreen_noflow">NCBI</span><img 
                      src="https://static.pubmed.gov/portal/portal3rc.fcgi/3986154/img/28977" 
                      class="ncbi_logo" title="NCBI" alt="NCBI Logo"
                    /></a></li>
                <li class="offscreen_noflow ui-ncbimenu-item-skip access"><a 
                  href="#maincontent" title="Skip to the content" tabindex="0" 
                  accesskey="3">Skip to main content</a></li>
                <li class="offscreen_noflow ui-ncbimenu-item-skip access"
                  ><a href="#navcontent" title="Skip to the navigation" 
                  tabindex="0" accesskey="4">Skip to navigation</a></li>
                <li id="resource-menu" 
                  class="topmenu ui-helper-reset ui-ncbimenu-item-first ui-helper-reset"
                  ><a class="ui-ncbimenu-first-link-has-submenu 
                        ui-ncbimenu-link-first topanchor expandDown" 
                      href="/static/header_footer_ajax/submenu/#resources">Resources</a></li>
                <li id="all-howtos-menu" 
                  class="topmenu ui-helper-reset ui-ncbimenu-item-first"
                  ><a class="ui-ncbimenu-first-link-has-submenu ui-ncbimenu-link-first topanchor expandDown" 
                      href="/static/header_footer_ajax/submenu/#howto">How To</a></li>
                <li class="offscreen_noflow ui-ncbimenu-item-skip access"><a 
                  href="/guide/browsers/#accesskeys" 
                  title="About My NCBI Accesskeys" 
                  tabindex="0" accesskey="0">About NCBI Accesskeys</a></li>
              </ul>
              <div class="myncbi">
                <span id="myncbiusername" style="display:none"
                  ><a href="/account/settings/" id="mnu" title="Edit account settings"/></span
                  ><a accesskey="2" href="/myncbi/" id="myncbi" style="display:none">My NCBI</a
                  ><a href="/account/" id="sign_in">Sign in to NCBI</a
                  ><a href="/account/signout/" id="sign_out" 
                    style="display:none">Sign Out</a>
              </div>
            </div>

              <div class="header">
                <div class="res_logo">
                  <h1 class="res_name"><a href="/" title="NCBI">NCBI</a></h1>
                </div>
              <form class="search_form" action="/gquery/" method="get"
                ><label for="searchbarlite">Search NCBI </label> 
                <input class="jig-ncbiclearbutton" type="text" size="40" 
                  id="searchbarlite" name="term" 
                  /><a class="reset" href="#" style="visibility: hidden;"
                  ><img src="https://www.ncbi.nlm.nih.gov/core/jig/1.13.1/img/clear.png" 
                    alt="Clear input" /></a><button type="submit" id="search" class="button_search ">Search</button></form></div>

            <div class="container">
              <div id="maincontent" class="content col twelve_col last">


    {% block body %}
      {% block page %}
        {{ page.content|safe }}
      {% endblock %}
    {% endblock %}


              </div>
            </div>

            <div id="NCBIFooter_dynamic" xmlns:xi="http://www.w3.org/2003/XInclude">
              <div class="breadcrumbs">
                <span id="breadcrumb_text">
                  You are here: 
                  <a href="//">NCBI</a> &gt; <!-- BREADCRUMBS --> Your breadcrumb code goes here <!--/BREADCRUMBS-->
                </span>
              </div>
              <a id="help-desk-link" class="help_desk" target="_blank" 
                href="/sites/ehelp?&amp;Ncbi_App=simple-ssi-site-page&amp;Page=static&amp;" 
                onclick="
                  window.open(
                    '/sites/ehelp?&amp;Ncbi_App=simple-ssi-site-page' +
                      '&amp;Page=static&amp;Snapshot=none;Time=', 
                    'HelpDesk',
                    'resizable=no,scrollbars=yes,location=no,status=yes,' +
                      'menubar=no,top=50,left=200,width=720,height=695');
                  return false;">Write to the Help Desk</a>
            </div>
            <div class="footer" id="footer">
              <div class="subfooter"> 
              </div>
            <script type="text/javascript" 
              src="https://www.ncbi.nlm.nih.gov/portal/portal3rc.fcgi/static/js/preloaderWidget.js"
              ></script>
            <div id="external-disclaimer" class="offscreen_noflow">
              External link. Please review our 
              <a href="http://www.nlm.nih.gov/privacy.html">privacy policy</a>.
            </div>
            <div id="ncbifooter" class="contact_info">
              <div id="footer-contents-right">
                <div id="nlm_thumb_logo">
                  <a href="http://www.nlm.nih.gov" title="NLM">NLM</a>
                </div>
                <div id="nih_thumb_logo">
                  <a href="http://www.nih.gov" title="NIH">NIH</a>
                </div>
                <div id="hhs_thumb_logo">
                  <a href="http://www.dhhs.gov" title="DHHS">DHHS</a>
                </div>
                <div id="usagov_thumb_logo">
                  <a href="http://www.usa.gov" title="USA.gov">USA.gov</a>
                </div>
              </div>
              <div id="footer-contents-left">
                <a href="/About/disclaimer.html">Copyright</a> | 
                <a href="/About/disclaimer.html#disclaimer">Disclaimer</a> | 
                <a href="http://www.nlm.nih.gov/privacy.html" class="newdomain">Privacy</a> | 
                <a href="/guide/browsers/">Browsers</a> | 
                <a href="http://www.nlm.nih.gov/accessibility.html">Accessibility</a> | 
                <a href="/About/glance/contact_info.html">Contact</a>
                <p class="address vcard"><span class="url"><a class="fn url newdomain" 
                  href="http://www.ncbi.nlm.nih.gov">National Center for 
                  Biotechnology Information</a>, 
                  </span><span class="org url"><a href="http://www.nlm.nih.gov/"
                  >U.S. National Library of Medicine</a></span><span class="adr"
                  ><span class="street-address">8600 Rockville Pike</span>, 
                  <span class="locality">Bethesda</span><span class="region"
                  >MD</span>, <span class="postal-code">20894</span><span 
                  class="country-name">USA</span></span></p>
                </div>
              </div>
              <!-- if pinger enabled: - ->
                <script src="/portal/portal3rc.fcgi/rlib/js/InstrumentOmnitureBaseJS/InstrumentNCBIConfigJS/InstrumentNCBIBaseJS/InstrumentPageStarterJS.js?v=1"> </script>
                <script type="text/javascript" src="/portal/portal3rc.fcgi/static/js/hfjs2.js"> </script>
              <!- - endif -->
            </div>
          </div>
        </div>
      </div>
    </div>

<!--
    <div id='shared-content-1' nid='1092'>
      <div class='rightnav'>
        <h2>GenBank Resources</h2>
        <ul>
          <li>
            <a href="/~/">GenBank Home</a></li>
          <li>
            <a href="/~/submit_types">Submission Types</a></li>
          <li>
            <a href="/~/submit">Submission Tools</a></li>
          <li>
            <a href="http://www.ncbi.nlm.nih.gov/nuccore/">Search GenBank</a></li>
          <li>
            <a href="/~/update">Update GenBank Records</a></li>
        </ul>
      </div>
    </div>
-->




  </body>
</html>
