<?xml version='1.0' encoding='utf-8'?>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>GenBank Submission Tools</title>
  </head>

  <body>

    {% block body %}
      <div class='node clear-block'>
        <div class='content'>

          {% block page %}
            {{ page.content|safe }}
          {% endblock %}

        </div>
      </div>
    {% endblock %}

    <div id='shared-content-1' nid='1092'>
      <div class='rightnav'>
        <h2>GenBank Resources</h2>
        <ul>
          <li>
            <a href="/~/">GenBank Home</a></li>
          <li>
            <a href="/~/submit_types">Submission Types</a></li>
          <li>
            <a href="/~/submit">Submission Tools</a></li>
          <li>
            <a href="http://www.ncbi.nlm.nih.gov/nuccore/">Search GenBank</a></li>
          <li>
            <a href="/~/update">Update GenBank Records</a></li>
        </ul>
      </div>
    </div>

  </body>
</html>
